{
  "extends": [
    "plugin:@shopify/typescript",
    "plugin:@shopify/react",
    "plugin:@shopify/jest",
    "plugin:@shopify/prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "import/extensions": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "node/no-extraneous-require": "off",
    "import/no-cycle": "off",
    "jest/require-tothrow-message": "off",
    "callback-return": "off",
    "jest/no-if": "off",
    "import/named": "off",
    "func-style": "off",
    "react/display-name": "off",
    "id-length": "off",
    "@shopify/restrict-full-import": ["error", "lodash"],
    "no-process-env": "off",
    "@shopify/jsx-no-hardcoded-content": "off",
    "@typescript-eslint/naming-convention": [
      "off",
      {
        "selector": "typeParameter",
        "format": ["PascalCase"],
        "prefix": ["T"]
      }
    ]
  },
  "ignorePatterns": ["node_modules", "dist"]
}
