{
  "extends": [
    "plugin:shopify/typescript",
    "plugin:shopify/react",
    "plugin:shopify/jest",
    "plugin:shopify/prettier"
  ],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "import/extensions": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "node/no-extraneous-require": "off",
    "import/no-cycle": "off",
    "jest/require-tothrow-message": "off",
    "callback-return": "off",
    "jest/no-if": "off",
    "import/named": "off",
    "func-style": "off",
    "react/display-name": "off",
    "shopify/restrict-full-import": ["error", "lodash"],
    "shopify/jest/no-vague-titles": [
      "error",
      {
        "allow": ["all"]
      }
    ]
  }
}
