name: restyle

on:
  push:
    branches:
      - master
  pull_request:

env:
  RUBY_VERSION: 3.0.3
  NODE_VERSION: 19.1.0

jobs:
  build-ts:
    name: 'Build Typescript'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: |
          yarn
          yarn build
  build-fixture-ts:
    name: 'Build fixture Typescript'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: |
          yarn
          yarn build
          cd fixture
          yarn
          yarn build:android
          yarn build:ios
  lint-ts:
    name: 'Lint Typescript'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: |
          yarn
          yarn lint
  test-ts:
    name: 'Test Typescript'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: |
          yarn
          yarn test --forceExit
  # Note that we decided not to build the iOS fixture app as it would take around 30 minutes. Since updates to the fixture app
  # will generally not contain native code changes, the build is not entirely necessary and can be added in the future if needed.
  build-android:
    name: 'Build Android'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: ruby setup
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true
      - run: |
          cd fixture
          yarn
          cd android
          ./gradlew assembleDebug
